<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <h3><b>Automart</b></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a class="nav-link" [routerLink]="['']">Home</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/vehicles']">Vehicles</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/spare-parts']">Spare Parts</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/cart']">My Cart</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/contact-us']">Contact Us</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a>
        <li class="nav-item" *ngIf="loggedIn"><a (click)="logout()" class="nav-link">Logout</a></li>
        <li class="nav-item" ><a class="nav-link"><b>Hi,{{loggedInUser}}</b></a></li>
      </ul>

    </div>
  </div>
</nav>
<div class="hero-wrap" style="background-image: url('../assets/background.jpg');margin-top:7%;"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container p-3">
    <div class="row">
      <div class="col-md-4" *ngFor="let part of sparePartsList">
        <div class="property-wrap">
          <a class="img" [style.background-image]="'url(http://localhost:4000/uploads/' + part.photo +')'"></a>
          <div class="text">
            <p class="price"><span class="orig-price">Price (Rs.) - {{part.price |number:'1.2-2'}}</span></p>
            <span class="location">{{part.partname }} | </span>
            <span class="location">{{part.brand }} | </span>
            <span class="location">{{part.state}} | </span>
            <span class="location">{{part.description}}</span>
            <div class="text-center mt-2">
              <button class="btn btn-sm btn-secondary" (click)="addToCart(part)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>