<div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card default-height">
        <div class="card-header fix-padding">
          <h5>
            <i></i>Update Spare Parts</h5>
        </div>
  
        <div class="card-body">
          <div class="row ">
            <div class="col-md-12" [formGroup]="formValid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card p-2 bg-light ">
                    <h6>
                      <b>Spare Part Details</b>
                    </h6>
                    {{formValid.value | json}}
                    <div class="row">
                      <div class="col-md-4">
                        <label id="label" for="exampleInputEmail1">Part Name</label>
                        <input type="text" formControlName="partname" class="form-control form-control-sm"
                          id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="col-md-4">
                        <label id="label" for="exampleInputEmail1">Brand</label>
                        <input type="text" formControlName="brand" class="form-control form-control-sm"
                          id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-4">
                        <label id="label" for="exampleInputEmail1">Price</label>
                        <input type="text" formControlName="price" class="form-control form-control-sm"
                          id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="col-md-4">
                          <label id="label" for="exampleInputEmail1">Quantity</label>
                          <input type="text" formControlName="stock" class="form-control form-control-sm"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="row"><div class="col-md-4">
                        <label id="label" for="exampleInputEmail1">Image</label>
                        <input type="file" style="height: 44px;" (change)="onFileSelect($event)" class="form-control form-control-sm">
                      </div>
                      <div class="col-md-8">
                        <label id="label" for="exampleInputEmail1">Description</label>
                        <textarea class="form-control form-control-sm" formControlName="description"
                          id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <div class="row">
            <div class="col-md-12 ">
              <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group">
                  <button type="button" (click)="updatePart()" class="btn btn-outline-dark ">
                    <i class="fa fa-save"></i>&nbsp; Save</button>
                </div>
                <div class="btn-group mr-2" role="group">
                  <button type="button" class="btn btn-outline-dark" (click)="clear()">
                    <i class="fa fa-trash"></i>&nbsp; Clear</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>