<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
	id="ftco-navbar">
	<div class="container">
			<h2 style="color:white"><b>Automart</b></h2>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
			aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link" [routerLink]="['']">Home</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['vehicles']" >Vehicles</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['spare-parts']">Spare Parts</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['cart']">My Cart</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['contact-us']">Contact Us</a></li>
				<li class="nav-item" *ngIf="!loggedIn"><a class="nav-link" [routerLink]="['login']">Login</a>
				<li class="nav-item" *ngIf="loggedIn"><a (click)="logout()" class="nav-link">Logout</a></li>
				<li class="nav-item" ><a class="nav-link"><b>Hi,{{loggedInUser}}</b></a></li>
			</ul>
		</div>
	</div>
</nav>
<div  class="hero-wrap  " style="background-image: url('../assets/background.jpg');margin-top:7%;background-attachment: fixed;"
	data-stellar-background-ratio="0.5">
	<!-- <div class="overlay"></div> -->	
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center">
			<div class="col-lg-8 col-md-6  d-flex align-items-end">
				<div class="text text-center">
					<h1 class="mb-4"><b>The Simplest Way to Find You the Best Vehicle</b></h1>
					<h3><b>Largest Vehicle Marketplace in Srilanka</b></h3>
					<div class="search-location mt-md-5">
						<div class="row justify-content-center">
							<div class="col-lg-10 align-items-end">
								<!-- <div class="form-group">
									<div class="form-field">
										<input type="text" class="form-control" placeholder="Search Vehicle Model">
										<button (click)="searchVehicle()"><span class="ion-ios-car"></span></button>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section ftco-no-pb">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 heading-section text-center  mb-5">
				<span class="subheading">Our Services</span>
				<h2 class="mb-2">The smartest way to buy a vehicle</h2>
			</div>
		</div>
		<div class="row d-flex">
			<div class="col-md-3 d-flex align-self-stretch ">
				<div class="media block-6 services d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center"><span
							class="flaticon-piggy-bank"></span>
					</div>
					<div class="media-body py-md-4">
						<h3>Low Downpayment</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ">
				<div class="media block-6 services d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center"><span
							class="flaticon-wallet"></span></div>
					<div class="media-body py-md-4">
						<h3>All Cash Offer</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ">
				<div class="media block-6 services d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center"><span
							class="flaticon-file"></span></div>
					<div class="media-body py-md-4">
						<h3>Experts in the Market</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ">
				<div class="media block-6 services d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center"><span
							class="flaticon-locked"></span></div>
					<div class="media-body py-md-4">
						<h3>Locked in Pricing</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section goto-here">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 heading-section text-center  mb-5">
				<span class="subheading">Trending</span>
				<h2 class="mb-2">New Arrivals</h2>
			</div>
		</div>
		<div class="row">
				<div class="col-md-4" *ngFor="let car of carList;let i = index" >
					<div class="property-wrap" *ngIf="i < 3">
						<a class="img" [style.background-image]="'url(http://localhost:4000/uploads/' + car.photo +')'"></a>
							<div class="text" style="width: 100%;margin-top: 0px;margin-left: 0px">
								<p class="price"><span class="orig-price">Price (Rs.) - {{car.price |number:'1.2-2'}}</span></p>
								<p class="price"><span class="orig-price">Payment (Rs.) - {{car.downpayment |number:'1.2-2'}}</span></p>
								<span class="location">{{car.brand }} | </span>
								<span class="location">{{car.model}} | </span>
								<span class="location">{{car.prodyr}} </span>
								<span class="location">{{car.mileage}}KM </span>
								<span class="location">Down Payment - {{car.downpayment|number:'1.2-2'}}</span>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>

<section class="ftco-section  services-section img mx-md-5"
	style="background-image: url(../assets/vehicle_owner_1.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-start mb-5">
			<div class="col-md-6 text-center heading-section heading-section-white ">
				<span class="subheading">Work flow</span>
				<h2 class="mb-3">How it works</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12 col-lg-6 d-flex align-self-stretch ">
						<div class="media block-6 services services-2">
							<div class="media-body py-md-4 text-center">
								<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>01</span>
								</div>
								<h3>Choose a Vehicle</h3>
								<p>Browse the web site and select a vehile you like.</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 d-flex align-self-stretch ">
						<div class="media block-6 services services-2">
							<div class="media-body py-md-4 text-center">
								<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>02</span>
								</div>
								<h3>Meet Your Agent</h3>
								<p>Make an advance payment and our agent will be assigned to you and he will guide you through the process.</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 d-flex align-self-stretch ">
						<div class="media block-6 services services-2">
							<div class="media-body py-md-4 text-center">
								<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>03</span>
								</div>
								<h3>Close the Deal</h3>
								<p>If the vehicle satisfies you after inspection, the make the full payment and close the deal</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 d-flex align-self-stretch ">
						<div class="media block-6 services services-2">
							<div class="media-body py-md-4 text-center">
								<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>04</span>
								</div>
								<h3>Have Your Vehicle</h3>
								<p>After we handle the documents for you, you can have the vehicle.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-counter img" id="section-counter">
	  
	  <footer class="ftco-footer ftco-section">
		<div class="container">
		  <div class="row mb-5">
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">Automart</h2>
				<p>Feel free to contact us for any inquiries</p>
				<ul class="ftco-footer-social list-unstyled mt-5">
				  <li class=""><a ><span class="icon-twitter"></span></a></li>
				  <li class=""><a ><span class="icon-facebook"></span></a></li>
				  <li class=""><a ><span class="icon-instagram"></span></a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4 ml-md-4">
				<h2 class="ftco-heading-2">Community</h2>
				<ul class="list-unstyled">
				  <li><a ><span class="icon-long-arrow-right mr-2"></span>Search Vehicles</a></li>
				  <li><a ><span class="icon-long-arrow-right mr-2"></span>For Agents</a></li>
				  <li><a ><span class="icon-long-arrow-right mr-2"></span>Reviews</a></li>
				  <li><a ><span class="icon-long-arrow-right mr-2"></span>FAQs</a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4 ml-md-4">
				<h2 class="ftco-heading-2">About Us</h2>
				<ul class="list-unstyled">
				  <li><a><span class="icon-long-arrow-right mr-2"></span>Our Path</a></li>
				  <li><a><span class="icon-long-arrow-right mr-2"></span>Meet the Agents</a></li>
				  <li><a><span class="icon-long-arrow-right mr-2"></span>Careers</a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">Company</h2>
				<ul class="list-unstyled">
				  <li><a><span class="icon-long-arrow-right mr-2"></span>About Us</a></li>
				  <li><a><span class="icon-long-arrow-right mr-2"></span>News</a></li>
				  <li><a><span class="icon-long-arrow-right mr-2"></span>Contact Us</a></li>
				  <li><a><span class="icon-long-arrow-right mr-2"></span>Careers</a></li>
				</ul>
			  </div>
			</div>
			<div class="col-md">
			  <div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">Have a Questions?</h2>
				<div class="block-23 mb-3">
				  <ul>
					<li><span class="icon icon-map-marker"></span><span class="text">
						Automart Car Sale,
						Colombo 10,
						Sri Lanka	
					</span></li>
					<li><a href="#"><span class="icon icon-phone"></span><span class="text">
						011-3465423 </span></a></li>
					<li><a href="#"><span class="icon icon-envelope pr-4"></span><span
						  class="text">info@automart.com</span></a></li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </footer>

