<div class="wrapper custom-padding">

  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li>
        <a href="#">
          <i class="fa fa-home"></i>
          Add New Stock
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-briefcase"></i>
          About
        </a>
        <a href="#" >
          <i class="fa fa-copy"></i>
          Pages
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-image"></i>
          Portfolio
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-question"></i>
          FAQ
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-paper-plane"></i>
          Contact
        </a>
      </li>
    </ul>
  </nav>

  <div id="content">

    <h2>Content goes here</h2>

  </div>
</div>